extends layout
include mixins/houseTable.pug

block content
  h1 API Tester
  br
  a(href="/") Home
  form(id="apiTestForm")
    +houseFields()
    div 
      input(id="RUN_API_TEST" value="Run Tests", type="submit")