doctype html
html
  head
    title House Listings
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src='/scripts/apiTest.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
